@charset "utf-8";
#paginaTodo {
	background-image: url(../imagenes/ojo2.jpg);
	background-repeat: repeat;
	float: left;
	height: 768px;
	width: 1024px;
	text-align: center;
}
#Encabezado {
	background-color: #000;
	float: left;
	height: 200px;
	width: 1024px;
	text-align: center;
}
#Botones {
	text-align: center;
	float: left;
	height: 50px;
	width: 1024px;
	background-image: url(../imagenes/botones2.jpg);
}
#Contenido {
	float: left;
	height: 498px;
	width: 1024px;
	text-align: center;
	color: #F00;
}
#Pie {
	background-image: url(../imagenes/botones.jpg);
	float: left;
	height: 50px;
	width: 1024px;
	font-family: "MS Serif", "New York", serif;
	font-weight: bold;
	text-align: center;
}
.contenidoCentrado {
	font-family: "Comic Sans MS", cursive;
	font-size: 16px;
	font-weight: bolder;
	color: #F00;
	text-align: center;
}
.ContenidoTabla {
	font-family: "Comic Sans MS", cursive;
	font-weight: bolder;
	color: #F00;
	text-align: center;
}
