@charset "utf-8";
#paginaTodo {
	float: left;
	height: 600px;
	width: 800px;
}
#Encabezado {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: #0CC;
	text-align: center;
	float: left;
	height: 150px;
	width: 800px;
}
#Vinculos {
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	text-align: center;
	float: left;
	height: 50px;
	width: 800px;
	background-color: #0C9;
	color: #FFF;
}
#Texto {
	font-family: "Comic Sans MS", cursive;
	font-size: 50px;
	text-align: center;
	float: left;
	height: 400px;
	width: 800px;
	font-weight: bold;
}
